#Dublin Bikes Data
    Number of Stations in Dublin: 101
    
    
Bike Station capacity = "bikes" + "free"  
bikes           1276     Bikes available for hire on 3/7/16 at 11:17am
free            1877     Bike spots available to park on 3/7/16 at 11:17
TOTAL BIKE = Sum() = 3153
"number" -> ID for the station

In [2]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import json
import requests
from time import sleep, strftime, gmtime


url = 'http://api.citybik.es/dublinbikes.json'
json_data = requests.get(url).text

print (json_data[:500])

[
  {
    "bikes": 33,
    "name": "FENIAN STREET",
    "idx": 0,
    "lat": 53341428,
    "timestamp": "2016-03-07T11:11:15.502Z",
    "lng": -6246720,
    "id": 0,
    "free": 0,
    "number": 63
  },
  {
    "bikes": 15,
    "name": "CITY QUAY",
    "idx": 1,
    "lat": 53346637,
    "timestamp": "2016-03-07T11:11:15.547Z",
    "lng": -6246154,
    "id": 1,
    "free": 15,
    "number": 99
  },
  {
    "bikes": 28,
    "name": "FITZWILLIAM SQUARE EAST",
    "idx": 2,

In [3]:
#Parse results based on "bikes" as index 0
json_series = Series(json_data)
# test

print (json_series)

0    [\n  {\n    "bikes": 33, \n    "name": "FENIAN...
dtype: object

In [4]:
#Other attempt with clipboard (all json data 12.27pm 03/04/16) #Only working if copy data from website
import numpy as np
import pandas as pd
#from pandas import Series, DataFrame
import webbrowser
website = 'http://api.citybik.es/dublinbikes.json'
#webbrowser.open(website)

bike_frame = pd.read_clipboard()
print(bike_frame[:200])

CParserError: Error tokenizing data. C error: Expected 10 fields in line 3, saw 14

In [5]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import webbrowser
website = 'http://api.citybik.es/dublinbikes.json'
#webbrowser.open(website)

bike_frame = pd.read_json(website)
print(bike_frame[:500])

print(len(bike_frame.index))

     bikes  free   id  idx       lat      lng  \
0       31     2    0    0  53341428 -6246720
1       15    15    1    1  53346637 -6246154
2       28    11    2    2  53335211 -6250900
3        1    29    3    3  53339005 -6300217
4        0    40    4    4  53340714 -6308191
5        4    31    5    5  53338776 -6303950
6        1    28    6    6  53350291 -6273507
7       13     7    7    7  53346874 -6272976
8        1    39    8    8  53354929 -6269425
9        0    40    9    9  53330662 -6260177
10       0    38   10   10  53347972 -6291804
11       0    29   11   11  53343565 -6275071
12       2    23   12   12  53347106 -6292041
13      10    20   13   13  53330362 -6265163
14       6    21   14   14  53358115 -6265601
15      28     2   15   15  53339434 -6246548
16      12    18   16   16  53347692 -6278214
17       4    26   17   17  53330091 -6268044
18      20     9   18   18  53347884 -6248048
19      15     5   19   19  53339764 -6251988
20      14    11   20   20  53357043 -6263232
21      39     1   21   21  53337824 -6256035
22      18     2   22   22  53341288 -6258117
23       0    30   23   23  53358437 -6260641
24       0    30   24   24  53356299 -6258586
25      29    11   25   25  53346026 -6243576
26      24     0   26   26  53343034 -6263578
27       7    22   27   27  53346057 -6268001
28       0    40   28   28  53347122 -6234749
29      15     1   29   29  53344007 -6266802
..     ...   ...  ...  ...       ...      ...
71       9    31   71   71  53347440 -6238523
72      23     0   72   72  53349013 -6260311
73       3    26   73   73  53348875 -6267459
74       2    28   74   74  53343893 -6280531
75      37     3   75   75  53341655 -6236198
76      29     0   76   76  53334432 -6245575
77      39     0   77   77  53342638 -6238695
78       0    20   78   78  53355610 -6261397
79       0    30   79   79  53342081 -6275233
80       1    29   80   80  53359624 -6260348
81       4    36   81   81  53346867 -6230852
82       0    30   82   82  53341805 -6305085
83       0    20   83   83  53356769 -6268140
84       2    38   84   84  53343897 -6297060
85       0    37   85   85  53347477 -6285250
86       2    28   86   86  53348800 -6281637
87       0    40   87   87  53342113 -6310015
88       0    40   88   88  53346985 -6297804
89      40     0   89   89  53344153 -6233451
90      27    13   90   90  53341515 -6256853
91      24     5   91   91  53341833 -6231291
92      11    29   92   92  53339983 -6295594
93      14    26   93   93  53347802 -6292432
94       0    22   94   94  53341645 -6297190
95      22     6   95   95  53340962 -6262287
96       0    30   96   96  53334123 -6265436
97      18     5   97   97  53339629 -6243778
98       0    16   98   98  53355473 -6264423
99      24    12   99   99  53334030 -6260714
100      7    13  100  100  53340803 -6267732

                                  name  number               timestamp
0                        FENIAN STREET      63 2016-03-07 11:14:15.237
1                            CITY QUAY      99 2016-03-07 11:14:15.340
2              FITZWILLIAM SQUARE EAST      89 2016-03-07 11:11:15.707
3                      BROOKFIELD ROAD      84 2016-03-07 11:14:15.143
4                           EMMET ROAD      83 2016-03-07 11:11:15.727
5                          ROTHE ABBEY      85 2016-03-07 11:11:15.702
6                    KING STREET NORTH     101 2016-03-07 11:14:15.304
7                         GREEK STREET       4 2016-03-07 11:14:15.381
8                          WESTERN WAY     102 2016-03-07 11:14:15.289
9                     CHARLEMONT PLACE       5 2016-03-07 11:14:15.362
10                     PARKGATE STREET      86 2016-03-07 11:11:15.686
11                         HIGH STREET       7 2016-03-07 11:14:15.390
12              HEUSTON BRIDGE (SOUTH)     100 2016-03-07 11:11:15.691
13                  PORTOBELLO HARBOUR      34 2016-03-07 11:14:15.435
14                  ECCLES STREET EAST      79 2016-03-07 11:14:15.475
15                 MERRION SQUARE EAST      25 2016-03-07 11:14:15.483
16                          SMITHFIELD      35 2016-03-07 11:11:15.648
17                     PORTOBELLO ROAD      43 2016-03-07 11:14:15.192
18                   CUSTOM HOUSE QUAY       8 2016-03-07 11:14:15.444
19                 MERRION SQUARE WEST      26 2016-03-07 11:11:15.641
20                     HARDWICKE PLACE      61 2016-03-07 11:14:15.363
21            ST. STEPHEN'S GREEN EAST      36 2016-03-07 11:14:15.510
22                   MOLESWORTH STREET      27 2016-03-07 11:14:15.455
23               UPPER SHERRARD STREET      44 2016-03-07 11:11:15.705
24                MOUNTJOY SQUARE WEST      28 2016-03-07 11:11:15.679
25                         LIME STREET      62 2016-03-07 11:14:15.262
26                    EXCHEQUER STREET       9 2016-03-07 11:14:15.346
27                   ORMOND QUAY UPPER      29 2016-03-07 11:11:15.718
28                    NEW CENTRAL BANK      66 2016-03-07 11:14:15.406
29                         DAME STREET      10 2016-03-07 11:11:15.651
..                                 ...     ...                     ...
71                   CONVENTION CENTRE      65 2016-03-07 11:11:15.644
72   PRINCES STREET / O'CONNELL STREET      33 2016-03-07 11:11:15.662
73                   WOLFE TONE STREET      77 2016-03-07 11:14:15.365
74                  OLIVER BOND STREET      74 2016-03-07 11:14:15.132
75                       BARROW STREET      70 2016-03-07 11:11:15.670
76                       HERBERT PLACE      19 2016-03-07 11:14:15.286
77                    GRAND CANAL DOCK      69 2016-03-07 11:14:15.477
78                DENMARK STREET GREAT      59 2016-03-07 11:14:15.490
79                      FRANCIS STREET      73 2016-03-07 11:14:15.373
80                 NORTH CIRCULAR ROAD      60 2016-03-07 11:14:15.394
81                           THE POINT      67 2016-03-07 11:14:15.255
82                     KILMAINHAM LANE      96 2016-03-07 11:14:15.457
83                  BLESSINGTON STREET       2 2016-03-07 11:11:15.638
84                      ROYAL HOSPITAL      95 2016-03-07 11:14:15.419
85             COLLINS BARRACKS MUSEUM      87 2016-03-07 11:14:15.135
86                     BLACKHALL PLACE      88 2016-03-07 11:11:15.738
87                     KILMAINHAM GAOL      97 2016-03-07 11:14:15.264
88          HEUSTON STATION (CAR PARK)      94 2016-03-07 11:14:15.496
89                       BENSON STREET      90 2016-03-07 11:14:15.221
90              FREDERICK STREET SOUTH      98 2016-03-07 11:14:15.201
91                     SOUTH DOCK ROAD      91 2016-03-07 11:14:15.244
92        ST. JAMES HOSPITAL (CENTRAL)      81 2016-03-07 11:14:15.116
93              HEUSTON BRIDGE (NORTH)      92 2016-03-07 11:11:15.736
94                         MOUNT BROWN      82 2016-03-07 11:14:15.414
95                      CHATHAM STREET       1 2016-03-07 11:14:15.214
96                     GRANTHAM STREET      18 2016-03-07 11:14:15.182
97                      GRATTAN STREET      57 2016-03-07 11:11:15.664
98                    HARDWICKE STREET      15 2016-03-07 11:11:15.646
99                        HATCH STREET      55 2016-03-07 11:14:15.351
100                        GOLDEN LANE      17 2016-03-07 11:14:15.324

[101 rows x 9 columns]
101

In [6]:
#Create the Data Frame
pd.concat([bike_frame])

,bikes,free,id,idx,lat,lng,name,number,timestamp
0,31,2,0,0,53341428,-6246720,FENIAN STREET,63,2016-03-07 11:14:15.237
1,15,15,1,1,53346637,-6246154,CITY QUAY,99,2016-03-07 11:14:15.340
2,28,11,2,2,53335211,-6250900,FITZWILLIAM SQUARE EAST,89,2016-03-07 11:11:15.707
3,1,29,3,3,53339005,-6300217,BROOKFIELD ROAD,84,2016-03-07 11:14:15.143
4,0,40,4,4,53340714,-6308191,EMMET ROAD,83,2016-03-07 11:11:15.727
5,4,31,5,5,53338776,-6303950,ROTHE ABBEY,85,2016-03-07 11:11:15.702
6,1,28,6,6,53350291,-6273507,KING STREET NORTH,101,2016-03-07 11:14:15.304
7,13,7,7,7,53346874,-6272976,GREEK STREET,4,2016-03-07 11:14:15.381
8,1,39,8,8,53354929,-6269425,WESTERN WAY,102,2016-03-07 11:14:15.289
9,0,40,9,9,53330662,-6260177,CHARLEMONT PLACE,5,2016-03-07 11:14:15.362
10,0,38,10,10,53347972,-6291804,PARKGATE STREET,86,2016-03-07 11:11:15.686
11,0,29,11,11,53343565,-6275071,HIGH STREET,7,2016-03-07 11:14:15.390
12,2,23,12,12,53347106,-6292041,HEUSTON BRIDGE (SOUTH),100,2016-03-07 11:11:15.691
13,10,20,13,13,53330362,-6265163,PORTOBELLO HARBOUR,34,2016-03-07 11:14:15.435
14,6,21,14,14,53358115,-6265601,ECCLES STREET EAST,79,2016-03-07 11:14:15.475
15,28,2,15,15,53339434,-6246548,MERRION SQUARE EAST,25,2016-03-07 11:14:15.483
16,12,18,16,16,53347692,-6278214,SMITHFIELD,35,2016-03-07 11:11:15.648
17,4,26,17,17,53330091,-6268044,PORTOBELLO ROAD,43,2016-03-07 11:14:15.192
18,20,9,18,18,53347884,-6248048,CUSTOM HOUSE QUAY,8,2016-03-07 11:14:15.444
19,15,5,19,19,53339764,-6251988,MERRION SQUARE WEST,26,2016-03-07 11:11:15.641
20,14,11,20,20,53357043,-6263232,HARDWICKE PLACE,61,2016-03-07 11:14:15.363
21,39,1,21,21,53337824,-6256035,ST. STEPHEN'S GREEN EAST,36,2016-03-07 11:14:15.510
22,18,2,22,22,53341288,-6258117,MOLESWORTH STREET,27,2016-03-07 11:14:15.455
23,0,30,23,23,53358437,-6260641,UPPER SHERRARD STREET,44,2016-03-07 11:11:15.705
24,0,30,24,24,53356299,-6258586,MOUNTJOY SQUARE WEST,28,2016-03-07 11:11:15.679
25,29,11,25,25,53346026,-6243576,LIME STREET,62,2016-03-07 11:14:15.262
26,24,0,26,26,53343034,-6263578,EXCHEQUER STREET,9,2016-03-07 11:14:15.346
27,7,22,27,27,53346057,-6268001,ORMOND QUAY UPPER,29,2016-03-07 11:11:15.718
28,0,40,28,28,53347122,-6234749,NEW CENTRAL BANK,66,2016-03-07 11:14:15.406
29,15,1,29,29,53344007,-6266802,DAME STREET,10,2016-03-07 11:11:15.651
...,...,...,...,...,...,...,...,...,...
71,9,31,71,71,53347440,-6238523,CONVENTION CENTRE,65,2016-03-07 11:11:15.644
72,23,0,72,72,53349013,-6260311,PRINCES STREET / O'CONNELL STREET,33,2016-03-07 11:11:15.662
73,3,26,73,73,53348875,-6267459,WOLFE TONE STREET,77,2016-03-07 11:14:15.365
74,2,28,74,74,53343893,-6280531,OLIVER BOND STREET,74,2016-03-07 11:14:15.132
75,37,3,75,75,53341655,-6236198,BARROW STREET,70,2016-03-07 11:11:15.670
76,29,0,76,76,53334432,-6245575,HERBERT PLACE,19,2016-03-07 11:14:15.286
77,39,0,77,77,53342638,-6238695,GRAND CANAL DOCK,69,2016-03-07 11:14:15.477
78,0,20,78,78,53355610,-6261397,DENMARK STREET GREAT,59,2016-03-07 11:14:15.490
79,0,30,79,79,53342081,-6275233,FRANCIS STREET,73,2016-03-07 11:14:15.373
80,1,29,80,80,53359624,-6260348,NORTH CIRCULAR ROAD,60,2016-03-07 11:14:15.394
81,4,36,81,81,53346867,-6230852,THE POINT,67,2016-03-07 11:14:15.255
82,0,30,82,82,53341805,-6305085,KILMAINHAM LANE,96,2016-03-07 11:14:15.457
83,0,20,83,83,53356769,-6268140,BLESSINGTON STREET,2,2016-03-07 11:11:15.638
84,2,38,84,84,53343897,-6297060,ROYAL HOSPITAL,95,2016-03-07 11:14:15.419
85,0,37,85,85,53347477,-6285250,COLLINS BARRACKS MUSEUM,87,2016-03-07 11:14:15.135
86,2,28,86,86,53348800,-6281637,BLACKHALL PLACE,88,2016-03-07 11:11:15.738
87,0,40,87,87,53342113,-6310015,KILMAINHAM GAOL,97,2016-03-07 11:14:15.264
88,0,40,88,88,53346985,-6297804,HEUSTON STATION (CAR PARK),94,2016-03-07 11:14:15.496
89,40,0,89,89,53344153,-6233451,BENSON STREET,90,2016-03-07 11:14:15.221
90,27,13,90,90,53341515,-6256853,FREDERICK STREET SOUTH,98,2016-03-07 11:14:15.201
91,24,5,91,91,53341833,-6231291,SOUTH DOCK ROAD,91,2016-03-07 11:14:15.244
92,11,29,92,92,53339983,-6295594,ST. JAMES HOSPITAL (CENTRAL),81,2016-03-07 11:14:15.116
93,14,26,93,93,53347802,-6292432,HEUSTON BRIDGE (NORTH),92,2016-03-07 11:11:15.736
94,0,22,94,94,53341645,-6297190,MOUNT BROWN,82,2016-03-07 11:14:15.414
95,22,6,95,95,53340962,-6262287,CHATHAM STREET,1,2016-03-07 11:14:15.214
96,0,30,96,96,53334123,-6265436,GRANTHAM STREET,18,2016-03-07 11:14:15.182
97,18,5,97,97,53339629,-6243778,GRATTAN STREET,57,2016-03-07 11:11:15.664
98,0,16,98,98,53355473,-6264423,HARDWICKE STREET,15,2016-03-07 11:11:15.646
99,24,12,99,99,53334030,-6260714,HATCH STREET,55,2016-03-07 11:14:15.351
100,7,13,100,100,53340803,-6267732,GOLDEN LANE,17,2016-03-07 11:14:15.324

In [7]:
import csv

with open('output.csv', 'w') as file:
    file.write(json_data)
    
with open('output.json', 'w') as jfile:
    jfile.write(json_data)

In [21]:
#TEST1  -check that number of rows in dataframe = 101 (1 row per station)

def test_all_records():
    test1 = len(bike_frame.index)
    if test1 == 101:
        return True
    else:
        return False

In [9]:
#Get the count for each data type
bike_frame.count()

bikes        101
free         101
id           101
idx          101
lat          101
lng          101
name         101
number       101
timestamp    101
dtype: int64

In [13]:
#TEST2 - check that the number of bike if correct
#need to modify to get only sum for 'bikes' data

#CHANGE CODE TO ADD ALL "bikes" AND ALL "free" to get 3153 total 

def test_total_bikes():
    test = bike_frame.sum(axis=0)   #column sum
    test = test2[0]                 #--> 3153
    print("..."+ test)
    if test > 3153:
        return ("Too many Bikes")
    elif test == 3153:
        return ("Correct")
    else test < 3153:
        return ("Not enough Bikes")

SyntaxError: invalid syntax (<ipython-input-13-f37e43c56fac>, line 14)

In [11]:
bike_frame.sum()

bikes           1276
free            1877
id              5050
idx             5050
lat       5387779038
lng       -632701163
number          5203
dtype: int64

In [17]:
sum = df("bikes") + df("free")
print(sum)

NameError: name 'df' is not defined